.td_btn{width:40px; text-align:center;}

table { border-spacing:0; border:1px solid gray;}
table.tablesorter thead tr .header {
	background-image: url(images/bg.png);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(images/asc.png);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(images/desc.png);
}
table th {  
           border:1px outset gray; 
           background-color:#5C87B2; 
           color:White; 
           cursor:pointer;
}
table thead th:hover { background-color:#E8EEF4;color:black;}
table td { min-height:80px; border:1px solid gray;}

.first, .next, .prev, .last{margin-top:5px;} 