@using StoreCheck;


@{String ID = "UsrPageDialogId";}

@if(Request.IsAuthenticated) {
    <text>Здравствуйте <b>

     @Html.ActionPopup("UserPage", "Admin", new { id = ID }, Context.User.Identity.Name, new { @class = "openDialog", data_dialog_id = ID, data_dialog_title = Context.User.Identity.Name }) 
    </b>!
      <div>
</div>
    [ @Html.ActionLink("Выход", "LogOff", "Account") ]</text>
}
else {
    @:[ @Html.ActionLink("Вход", "LogOn", "Account") ]
}
