@if(Request.IsAuthenticated) {
    <text>Здравствуйте <b>@Html.ActionLink(Context.User.Identity.Name, "UserPage","Admin")</b>!
      <div>
</div>
    [ @Html.ActionLink("Выход", "LogOff", "Account") ]</text>
}
else {
    @:[ @Html.ActionLink("Вход", "LogOn", "Account") ]
}
