@{
    ViewBag.Title = "Администрирование";
}

<h2>Администрирование</h2>
    <ul id="submenu">
        <li>@Html.ActionLink("Назначение ролей", "UsersList", "Admin")</li>                    
        <li>@Html.ActionLink("Назначение прав", "RolesList", "Admin")</li>
        <li>@Html.ActionLink("Жунал событий", "ViewLog", "Admin")</li>
    </ul>


