@{
    ViewBag.Title = "Администрирование";
}

<h2>Администрирование</h2>
    <ul id="submenu">
        <li>@Html.ActionLink("Пользователи", "Users", "Admin")</li>                    
        <li>@Html.ActionLink("Роли", "Roles", "Admin")</li>
    </ul>


