@{
    ViewBag.Title = "Справочники";
}

<h2>Справочники</h2>
    <ul id="submenu">
        <li>@Html.ActionLink("Роли", "Spr_Roles", "Spr")</li>                    
        <li>@Html.ActionLink("Права", "Spr_Rights", "Spr")</li>
        <li>@Html.ActionLink("Торговые агенты", "Spr_CAP", "Spr")</li>                    
        <li>@Html.ActionLink("Ассортимент по категориям ТРТ", "Spr_SR", "Spr")</li>
    </ul>
