@model IQueryable<StoreCheck.Models.Spr_Roles>

@{
    ViewBag.Title = "Spr_Roles";
}
<h2>Spr_Roles</h2>
<ul>
    @foreach(StoreCheck.Models.Spr_Roles item in ViewBag.Spr_RolesItems )
    {
        <li>@Html.ActionLink("Редактировать -" + @item.Name, "Spr_RolesEdit", new { id = item.ID })</li>
    }
</ul>